$primary-color: #ff5836;
$secondary-color: #198754;
$tertiary-color: #2196f3;

.primary-text {
  font-family: Poppins;
  color: $primary-color;
  text-transform: uppercase;
}

.secondary-text {
  color: $secondary-color;
}

.tertiary-text {
  color: $tertiary-color;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  font-size: 16px;
  font-weight: 600;
}