/*html, body {*/
/*  height: 100%;*/
/*}*/

/*#root {*/
/*  margin: 0 auto;*/
/*  width: 100%;*/
/*  height: 100%*/
/*}*/

/*.tab-name {*/
/*  font-size: 2rem;*/
/*  font-weight: bold;*/
/*  color: #333;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  height: 100%;*/
/*}*/

/*.logo button {*/
/*  background: none;*/
/*  border: none;*/
/*  font-size: 1.5rem;*/
/*  cursor: pointer;*/
/*  margin-right: 1rem;*/
/*}*/

/*@keyframes logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  a:nth-of-type(2) .logo {*/
/*    animation: logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.card {*/
/*  padding: 2em;*/
/*}*/

/*.read-the-docs {*/
/*  color: #888;*/
/*}*/
.app-container {
  font-family: sans-serif;
}

.main-content {
  width:100%;
  padding: 20px;
}